{% extends 'base.html' %}
{% block content %}
<div class="container hp-container">
    <div class="row align-items-center">
        <div class="col-sm">
            <div class="p-3">
                <h1>The #1 website to find a book review</h1>
                <div class="container values-container">
                    <h2>follow your frinds and see their review</h2>
                    <h2>Give advice to your friends</h2>
                    <h2>Ask for an advice</h2>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form method="post">
                        <div class="container">
                            <h6>User name</h6>
                            {{ form.username }}
                            <h6>Password</h6>
                            {{ form.password }}
                            {% csrf_token %}
                        </div>
                        <div class="container center">
                            <button type="submit" class="btn-hp">login</button>
                        </div>
                    </form>
                    <p class="hp-signup">No account? Click <a href="{% url 'signup' %}"> here </a>to sign up now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}