/* ============  Layout  ================ */
/* css for Login/Signup container */

.hp-container {
    margin-top: 200px;
}

.values-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0%;
}

.btn-hp {
    background-color: var(--accent-color-2);
    border-color: var(--complementary-color);
    color: var(--complementary-color);
    font-family: var(--body-font);
    text-transform: uppercase;
    font-weight: 500;
    border-width: 1px;
    font-size: var(--medium-font-size);
    padding: 8px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hp-signup {
    font-size: 12px;
}
