/* ============  Layout  ================ */
/* css for Login/Signup container */

.hp-container {
    margin-top: 200px;
}

.values-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0%;
}

.btn-hp {
    background-color: var(--accent-color-2);
    border-color: var(--complementary-color);
    color: var(--complementary-color);
    font-family: var(--body-font);
    text-transform: uppercase;
    font-weight: 500;
    border-width: 1px;
    font-size: var(--medium-font-size);
    padding: 8px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hp-signup {
    font-size: 12px;
}

/* css for feed container */
.btn-feed-container {
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.feed-container {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px; 
}


/*  css for feed cards */
.btn-feed {
    background-color: var(--white-color);
    border-color: var(--complementary-color);
    color: var(--complementary-color);
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: 500;
    border-width: 1px;
    font-size: var(--medium-font-size);
    padding: 8px 18px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px; 
}

.card-margin {
    margin-bottom: 50px !important;
}

.row-margin {
    margin-bottom: 20px !important;
}

.card-align {
    text-align: right;
}

.btn-ticket {
    background-color: var(--accent-color);
    border-color: var(--complementary-color);
    color: var(--complementary-color);
    font-family: var(--body-font);
    text-transform: uppercase;
    font-weight: 500;
    border-width: 1px;
    font-size: var(--medium-font-size);
    padding: 8px 18px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}