{% block content %}
<div class="card card-feed">
    <div class="card-body">
        <div class="container">
            <div class="row row-margin">
                <div class="col-8">
                    <p class="card-user">{{ instance.user }} published a review</p>
                </div>
                <div class="col-4">
                    <p class="card-time">{{ instance.time_created }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto">
                    <h2 class="card-headline">{{ instance.headline }} -</h2>
                </div>
                <div class="col-auto mr-auto">
                    {% if instance.rating == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if instance.rating == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if instance.rating == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if instance.rating == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if instance.rating == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p class="card-body">{{ instance.body }}</p>
            </div>
        </div>
    </div>
    <div class="card card-in-review">
        <div class="card-body">
            <div class="container">
                <div class="row row-margin">
                    <div class="col-8">
                        <p class="card-user">{{ instance.ticket.user }} published this ticket</p>
                    </div>
                    <div class="col-4">
                        <p class="card-time">{{ instance.ticket.time_created }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2 class="card-headline">{{ instance.ticket.title }}</h2>
                        <p class="card-body">{{ instance.ticket.description }}</p>
                    </div>
                    <div class="col-sm card-cover">
                        <img src="{{ instance.ticket.image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user == instance.user %}
    <div class="card-body">
        <div class="container">
            <div class="row row-margin">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <a href="{% url 'edit_review' instance.id %}" class="btn btn-feed">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}