{% block content %}
<div class="card card-in-review">
    <div class="card-body">
        <div class="container">
            <div class="row row-margin">
                <div class="col-8">
                    <p class="card-user">This ticket was published by {{ ticket.user }}</p>
                </div>
                <div class="col-4">
                    <p class="card-date">{{ ticket.time_created }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2 class="card-headline">{{ ticket.title }}</h2>
                    <p class="card-body">{{ ticket.description }}</p>
                </div>
                <div class="col-sm card-cover">
                    <img src="{{ ticket.image.url }}" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}