{% extends 'base.html' %}
{% block content %}
<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Answer to a ticket</h2>
        <p class="card-body">You can now create a review for the selected ticket</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card card-sub">
            <div class="card-body">
                <div class="row">
                    <h2 class="card-headline">You are answering to the following ticket</h2>
                </div>
            </div>
            <div class="row row-margin">
                <div class="container">
                    {% include './snippets/ticket_snippet_for_review.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card card-sub">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <h6>Review Title</h6>
                        {{ review_form.headline}}
                        <h6>Rating</h6>
                        {{ review_form.rating}}
                        <h6>Your review</h6>
                        {{ review_form.body}}
                        {{ review_form.edit_review}}
                        {% csrf_token %}
                    </div>
                    <div class="container center">
                        <button type="submit" class="btn-hp">Post your answer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}