{% extends 'base.html' %}
{% block content %}
<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Create a new ticket</h2>
        <p class="card-body">Create a new ticket to request a review of your book written by one of your followers</p>
    </div>
</div>

<div class="container sub-container">
    <div class="row">
        <div class="card card-sub">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="container">
                        <h6>Title</h6>
                        {{ form.title }}
                        <h6>Description</h6>
                        {{ form.description }}
                        <h6>Image</h6>
                        {{ form.image }}
                        {{ form.edit_ticket }}
                        {% csrf_token %}
                    </div>
                    <div class="container center">
                        <button type="submit" class="btn-hp">Post your ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}