{% extends 'base.html' %}
{% block content %}
<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Edit your Review</h2>
    </div>
</div>

<div class="container sub-container">
    <div class="row">
        <div class="card card-sub">
            <div class="card-body">
                <form method="post">
                    <div class="container">
                        <h6>Rating</h6>
                        {{ edit_review.rating }}
                        <h6>Headline</h6>
                        {{edit_review.headline}}
                        <h6>Review</h6>
                        {{edit_review.body}}
                        {{ edit_review.edit_review }}
                        {% csrf_token %}
                    </div>
                    <div class="container center">
                        <button type="edit_review" class="btn-hp">Save your edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card card-sub">
            <div class="card-body">
                <form method="post">
                    <div class="container">
                        {{ delete_review }}
                        {% csrf_token %}
                    </div>
                    <div class="container center">
                        <button type="delete_review" class="btn-hp">Delete your review </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}