{% extends 'base.html' %}
{% block content %}
    <p><a href="{% url 'home' %}">Home</a></p>
    <p><a href="{% url 'create_ticket' %}">Create Ticket</a></p>
    <p><a href="{% url 'create_review' %}">Create Review</a></p>
    <p><a href="{% url 'sub' %}">Subscription</a></p>
    <p>You are connected</p>
    <h2>Feed</h2>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'review_snippet.html' %}
    {% endfor %}
{% endblock content %}