{% extends 'base.html' %}

{% block content %}
<div class="container sub-container">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'create_ticket' %}" class="btn btn-feed">Ask for a review</a>
        </div>
        <div class="col-sm">
            <a href="{% url 'create_review' %}" class="btn btn-feed">Create a review</a>
        </div>
    </div>
</div>

<div class="container sub-container">
    {% for instance in page_obj %}
        {% if instance.content_type == 'TICKET' %}
            {% include './snippets/ticket_snippet.html' %}
        {% elif instance.content_type == 'REVIEW' %}
            {% include './snippets/review_snippet.html' %}
        {% endif %}
    {% empty %}
    <p>No posts yet</p>
    {% endfor %}
</div>

<div class="container sub-container">
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">« première</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}
    
        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>
            
            <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
        {% endif %}
    </span>

</div>
{% endblock content %}