{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if number_of_u_reviews == 0 %}
        <p class="welcome-message">You have not yet published any reviews.</p>
    {% else %}
        <p class="welcome-message">You have published {{ number_of_u_reviews }} reviews!</p>
    {% endif %}
</div>

<div class="container sub-container">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'create_ticket' %}" class="btn btn-feed">Ask for a review</a>
        </div>
        <div class="col-sm">
            <a href="{% url 'create_review' %}" class="btn btn-feed">Create a review</a>
        </div>
    </div>
</div>

<div class="container sub-container">
    {% for instance in page_obj %}
        {% if instance.content_type == 'TICKET' %}
            {% include './snippets/ticket_snippet.html' %}
        {% elif instance.content_type == 'REVIEW' %}
            {% include './snippets/review_snippet.html' %}
        {% elif instance.content_type == 'ANSWERED_TICKET' %}
            {% include './snippets/ticket_snippet_user.html' %}
        {% endif %}
    {% empty %}
        <div class="card card-sub">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <p class="card-headline" style="text-align: center;">No posts in feed yet</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container last-container">
    <nav aria-label="">
        <div class="row">
            <div class="col-auto mr-auto">
                <p class="card-user">Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.</p>
            </div>
            <div class="col-auto mr-auto">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                            <a class="page-link page-nav" href="?page=1">First page</a>
                    </li>
                    {% endif %}
        
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link page-nav" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
        
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link page-nav" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
        
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link page-nav" href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock content %}