{% extends 'base.html' %}
{% block content %}
<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Follow new users</h2>
        <p class="card-body">You can search and add new users to your follows list.</p>
    </div>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <input type="search" name="follow">
        </form>
    </div>
</div>

<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Your follows</h2>
        <p class="card-body">Here you can see all users you follow.</p>
    </div>
    <div class="row">
        {% if follows %}
            {% for follows_user in follows %}
            <div class="card card-sub">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <p class="card-headline">{{ follows_user.username }}</p>
                            </div>
                            <div class="col-sm">
                                <form method="post">
                                    {% csrf_token %}
                                    <button class="btn-unfollow" type="submit" name="unfollow" value="{{ follows_user.id }}"> Unfollow</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="card card-sub">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <p class="card-headline" style="text-align: center;">You are not following anyone</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="container sub-container">
    <div class="row">
        <h2 class="card-headline">Your followers list</h2>
        <p class="card-body">Here you can see all users that follows your account.</p>
    </div>
    <div class="row">
        {% if followers %}
            {% for followed_by_user in followers %}
            <div class="card card-sub">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                                <p class="card-headline">{{ followed_by_user.username }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="card card-sub">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <p class="card-headline" style="text-align: center;">You have no followers yet</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}