{% extends 'base.html' %}
{% block content %}
    <h3>Follow other users</h3>
    <form method="post">
        {% csrf_token %}
        {% for user in users %}
            <div class="form-check">
                <input type="checkbox" name="follow" value="{{ user.id }}">
                <label>{{ user.username }}</label>
            </div>
        {% endfor %}
        <button type="submit">Follow</button>
    </form>

    <h3>Subscription</h3>
    {% if follows %}
        {% for follows_user in follows %}
        <li>{{ follows_user.username }}</li>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="unfollow" value="{{ follows_user.id }}">Unfollow</button>
        </form>
        {% endfor %}
    {% else %}
        <p>You are not following anyone.</p>
    {% endif %}

    <h3>Your subscriber list</h3>
    {% if followed_by %}
        {% for followed_by_user in followed_by %}
        <li>{{ followed_by_user.username }}</li>
        {% endfor %}
    {% else %}
        <p>You are not followed by anyone.</p>
    {% endif %}
{% endblock content %}