{% extends 'base.html' %}
{% block content %}
<div class="container btn-feed-container">
    <div class="row">
        <a href="{% url 'edit_review' review.id %}">
            <h3>Edit Review</h3>
        </a>
    </div>
</div>
<div class="container feed-container">
    <div class="card card-margin">
        <div class="card-body">
            <div class="row">
                <h3 class="card-title">{{ review.title }}</h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p class="card-text">{{ review.ticket.description }}</p>
                    <p class="card-text">{{ review.content }}</p>
                </div>
                <div class="col-sm">
                    <img class="card-img-right" src="{{ review.ticket.image.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}